requests_file
lxml
jsbeautifier
shodan
mmh3
ipwhois
fake-useragent
colorclass==2.2.0
netaddr==0.7.20
tqdm==4.36.1
tld
certifi==2020.4.5.1
chardet==3.0.4
idna==2.9
requests==2.23.0
termcolor==1.1.0
argparse==1.4.0
beautifulsoup4==4.6.3
htmlmin==0.1.12
tldextract==2.2.0
bs4
webscreenshot
colored
aiohttp
requests==2.24.0
termcolors==0.1.0
