bcrypt
amqp
virtualenv
django-celery-beat
colorlog
asgiref
async-timeout
beautifulsoup4
billiard
celery
certifi
charset-normalizer
click
click-didyoumean
click-plugins
click-repl
decorator
Deprecated
Django
favicon
idna
kombu
packaging
Pillow
prompt-toolkit
pyparsing
pytz
redis
requests
six
soupsieve
sqlparse
urllib3>=1.26.4
validators
vine
wcwidth
wrapt
untangle
PyYAML
